extends base.pug

block content 
    form(method="POST" actino="/videos/upload")
        input(name="title", placeholder="Title", required, type="text")
        input(type="submit", value="Upload Video")